<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hệ Thống Cho Thuê Xe Trực Tuyến</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/jquery-ui.css">

    <script src="./scripts/jquery-1.12.4.js"></script>
    <script src="./scripts/jquery-3.4.1.min.js"></script>
    <script src="./scripts/jquery-ui.min.js"></script>

    <script src="./scripts/home.js"></script>


</head>
<body>
<div class="container">
    <ul class="header">
        <li class="" id="home-container">Trang chủ</li>
        <li class="guide">Hướng dẫn</li>
        <li class="history">Lịch sử</li>
        <li class="account">Tài khoản
            <ul>
                <li class="get-customer-info" th:id="${customer.getCustomerId()}">Thông tin cá nhân</li>
                <li class="logout" th:text="${login}"></li>
            </ul>
        </li>
    </ul>
    <div th:class="${'content '+ page.home}">
        <div class="left-menu-bar">
            <div class="menu-content">
                <h3>Tìm xe</h3>
                <div  class="filter" id="4">Xe 4 chỗ ngồi</div>
                <div class="filter" id="7">Xe 7 chỗ ngồi</div>
                <div class="filter" id="16">Xe 16 chỗ ngồi</div>
                <select>
                    <option>Tất cả hãng xe</option>
                    <option>Toyota</option>
                    <option>Mazda</option>
                    <option>Mercedes</option>
                    <option>Ford</option>
                </select>
                <button id="find-button">Tìm kiếm</button>
            </div>

        </div>
        <div class="main-content">
<!--            <div class="wrapper">-->
<!--                <div class="car-image"></div>-->
<!--                <div class="car-content">-->
<!--                    <div class="car-header">-->
<!--                        <div class="car-name">Mercedes - benz</div>-->
<!--                        <div class="car-price">1.000.000</div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="car-info">-->
<!--                        <div class="car-branch">-->
<!--                            <i class="icon"></i>-->
<!--                            Nhãn hiệu: Mercedes-->
<!--                        </div>-->
<!--                        <div class="setting">-->
<!--                            <i class="icon"></i>-->
<!--                            Hộp số-->
<!--                        </div>-->
<!--                        <div>Loại xe: 7 chỗ</div>-->
<!--                        <div class="ventor">-->
<!--                            <i class="icon"></i>-->
<!--                            Máy lạnh: có-->
<!--                        </div>-->
<!--                        <div class="battery">-->
<!--                            <i class="icon"></i>-->
<!--                            Tiêu hao: 5 L/100km-->
<!--                        </div>-->
<!--                        <button class="let-rent">Thuê Ngay</button>-->
<!--                        <div class="carnumber">-->
<!--                            <i class="icon"></i>-->
<!--                            Biển số-->
<!--                        </div>-->
<!--                        <div class="limit">-->
<!--                            <i class="icon"></i>-->
<!--                            Giới hạn: 250 km/ngày-->
<!--                        </div>-->
<!--                        <div></div>-->

<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

        </div>
    </div>
    <div th:class="${'content history-container '+ page.history}">

    </div>
    <div th:class="${'content info-container '+ page.info }">
        <i class="icon"></i>
        <div class="customer-info-wrapper">
            <div>Họ và tên: </div>
            <input th:value="${customer.name}" readonly class="must-fill" name="name">
            <span class="warning"></span>
        </div>
        <div class="customer-info-wrapper">
            <div>Số CMND: </div>
            <input th:value="${customer.customerId}" readonly class="must-fill" name="customerId">
            <span class="warning"></span>
        </div>


        <div class="customer-info-wrapper">
            <div>Giới tính:  </div>
            <input th:value="${customer.getGender()}" readonly name="gender">
            <span class="warning"></span>
        </div>

        <div class="customer-info-wrapper">
            <div>Ngày sinh:  </div>
            <input th:value="${customer.birthday}" readonly class="must-fill" name="birthday">
            <span class="warning"></span>
        </div>
        <div class="customer-info-wrapper">
            <div>Email:  </div>
            <input th:value="${customer.email}" readonly class="must-fill" name="email">
            <span class="warning"></span>
        </div>
        <div class="customer-info-wrapper">
            <div>Mật khẩu:  </div>
            <input type="password" th:value="${customer.pass}" readonly class="must-fill" name="pass">
            <span class="warning"></span>
        </div>
        <div class="customer-info-wrapper">
            <div>Nhập lại mật khẩu:  </div>
            <input type="password" th:value="${customer.pass}" readonly class="must-fill">
            <span class="warning"></span>
        </div>

        <div class="customer-info-wrapper">
            <div>Công ty: </div>
            <input th:value="${customer.companyName}" readonly name="companyName">
            <span class="warning" style="opacity: 0"></span>
        </div>
        <div class="customer-info-wrapper">
            <div>Số điện thoại </div>
            <input th:value="${customer.phone}" readonly class="must-fill" name="phone">
            <span class="warning"></span>
        </div>
        <div class="info-button-wrapper">
            <button class="update-info-discard">Bỏ qua</button>
            <button class="update-info-save">Lưu</button>
        </div>
    </div>
    <div th:class="${'content guide-container '+ page.guide}"></div>
</div>
<div id="confirm-dialog" >
    <div>
        <div class="icon success-icon"></div>
        <div style="color: blue; margin-left: 5px;">Bạn đã sửa thông tin thành công</div>
    </div>
    <button class="confirm-button">OK</button>
</div>
</body>
</html>