<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Thông tin khách hàng</title>

    <link rel="stylesheet" href="./css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="./css/submitForm.css">
    <link rel="stylesheet" href="./css/home.css">

    <script src="/scripts/jquery-1.12.4.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="./scripts/submitform.js" type="text/javascript"></script>



</head>
<body>

<div class="form-container">
    <div class="form-header">
        <h2>Xác nhận thuê xe</h2>

    </div>
    <div class="form-submit">
        <div class="form-car-content" th:id="${car.carID}">
            <div th:class="${'form-car-image '+ car.carID }" th:attr="imageName=${ car.image}"></div>
            <div class="form-car-info">
                <div class="form-car-info-header">
                    <div th:text="${car.carName}"></div>
                    <div th:text="${#numbers.formatInteger(car.price,3,'POINT')+' đ/ngày '}"
                         style="margin-right: 10px;"></div>

                </div>

                <hr>
                <div class="form-car-info-main-content">
                    <div class="car-branch">
                        <i class="icon"></i>
                        <div th:text="${'Nhãn hiệu: ' + car.branch}">Nhãn hiệu:</div>
                    </div>
                    <div class="setting">
                        <i class="icon"></i>
                        Hộp số: tự động
                    </div>
                    <div class="category">
                        <i class="icon"></i>
                        <div th:text="${'Loại xe: ' + car.categoryName}">Nhãn hiệu:</div>
                    </div>
                    <div class="number-seat">
                        <i class="icon"></i>
                        <div th:text="${'Số ghế: ' + car.numberSeat}">Nhãn hiệu:</div>
                    </div>
                    <div class="limit">
                        <i class="icon"></i>
                        Giới hạn: 250 km/h
                    </div>
                    <div class="battery">
                        <i class="icon"></i>
                        Tiêu hao: 5 L/100km
                    </div>
                    <div class="carId">
                        <i class="icon"></i>
                        <div th:text="${'Biển số: ' + car.carID}">Nhãn hiệu:</div>
                    </div>
                    <div class="ventor">
                        <i class="icon"></i>
                        Điều hòa: Có
                    </div>
                    <div>
                    </div>
                </div>
                <div class="owner-info">
                    <div class="owner" th:id="${car.ownerId}">
                        <i class="icon"></i>
                        <div th:text="${'Chủ xe: '+ car.ownerName}"></div>
                    </div>
                    <div class="owner-company">
                        <i class="icon"></i>
                        <div th:text="${'Tên công ty : '+ car.ownerCompany}"></div>
                    </div>
                    <div class="owner-email">
                        <i class="icon"></i>
                        <div th:text="${'Email : '+ car.ownerEmail}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-customer-info">
            <div class="form-customer-info-header">
                <h2>Thông tin khách hàng</h2>
                <p style="color: red;">Chú ý: bạn phải nhập đủ các trường có dấu *</p>
            </div>
            <div class="form-main-customer-info">
                <div class="infor-wrapper mustfill">
                    <div>Họ và tên</div>
                    <input name="customerName" type="text" belong="customer" th:value="${customer.customerName}" readonly>
                    <span class="warning"></span>
                </div>
                <div class="infor-wrapper mustfill">
                    <div >Số CMND</div>
                    <input name="customerId" type="text" belong="customer" th:value="${customer.customerId}" readonly>
                    <span class="warning"></span>
                </div>
                <div class="infor-wrapper mustfill">
                    <div>Giới tính</div>
                    <input name="gender" type="text" belong="customer" th:value="${customer.getGender()}" readonly>
                </div>
                <div class="infor-wrapper mustfill">
                    <div>Số điện thoại</div>
                    <input name="customerPhone" type="text" belong="customer" th:value="${customer.customerPhone}" readonly>
                    <span class="warning"></span>
                </div>
                <div class="infor-wrapper mustfill">
                    <div>Email </div>
                    <input name="email" type="text" belong="customer" th:value="${customer.email}" readonly>
                    <span class="warning"></span>
                </div>
                <div class="infor-wrapper">
                    <div>Công ty</div>
                    <input name="customerCompany" type="text" belong="customer" th:value="${customer.customerCompany}" readonly>
                </div>
                <div class="infor-wrapper mustfill">
                    <div>Ngày sinh</div>
                    <input name="birthday" type="text" belong="customer" th:value="${customer.birthday}" readonly>
                    <span class="warning"></span>
                </div>

                <div class="infor-wrapper form-begin-date mustfill">
                    <div>Ngày thuê:<font>*</font></div>
                    <input type="text"class="input-begin-date" placeholder="dd-mm-yyyy" name="beginDate" belong="rental">
                    <span class="warning"></span>
                </div>
                <div class=" infor-wrapper form-begin-date mustfill">
                    <div>Ngày trả:<font>*</font></div>
                    <input type="text" class="input-end-date" placeholder="dd-mm-yyyy" name="endDate" belong="rental">
                    <span class="warning"></span>
                </div>
                <div class="infor-wrapper">
                    <div>Tổng số tiền: </div>
                    <div class="form-total-money" th:id="${car.price}" style="color: #0f3bff" belong="rental" name="totalMoney">0 Đồng</div>
                </div>
                <div class="infor-wrapper div-button">
                    <button class="confirm-button">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>