<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <title>Title</title>
    <link rel="stylesheet" href="css/jquery-ui.css">
<!--    <script src="scripts/jquery-1.12.4.js"></script>-->
    <script src="scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="container">
    <form class="login-form" action="#" th:object="${customer}" th:action="@{/confirmuser}" method="post">
        <h1>Đăng nhập</h1>
        <div class="js-txtb">
            <input type="text" th:field="*{customerId}">
            <span data-placeholder="Tên đăng nhập"></span>
        </div>

        <div class="js-txtb">
            <input type="password" th:field="*{pass}">
            <span data-placeholder="password"></span>
        </div>
        <button class="js-logbutton" >Đăng nhập</button>
        <div class="button-text">Bạn chưa có tài khoản? <a href="#">Đăng ký</a></div>
    </form>

</div>
</body>
<script type="text/javascript">

    $(".js-txtb input").on("focus",function(){
        $(this).addClass("focus");

    });
    $(".js-txtb input").on("blur",function(){

        if($(this).val()==""){

            $(this).removeClass("focus");
        }
    });
    $(".container").on("click",".js-logbutton",function(){

        var data="username="+$("input[name=username]").val()+"&password="+$("input[name=password]").val();

        // $.ajax({
        //     type:"GET",
        //     url:"comfirmAdmin?"+data,
        //     //contentType: "application/json; charset=utf-8",
        //     dataType: "json",
        //     async:false,
        //     success: function (res) {
        //         if(res.result=="true"){
        //             window.location.href=res.url;
        //
        //             // window.location.href=data.url;
        //         }
        //         else {
        //             window.location.href=res.url;
        //         }
        //     },
        //     error: function(){
        //         alert("error");
        //     }
        // });
    })

</script>
</html>