* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  background-color: white !important;
}
.container {
}
.login-form {
  width: 400px;
  height: 400px;
  padding: 100px 40px;
  padding-top: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  border: 1px solid blue;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
  color: #003eff;
}
.js-txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0px;
}
.js-txtb input {
  font-size: 16px;
  color: #333;
  border: none;
  width: 100%;
  background: none;
  outline: none;
  padding: 0px 5px;
  height: 40px;
}
.js-txtb span:before {
  content: attr(data-placeholder);
  position: absolute;
  top: -5px;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}
.js-txtb span:after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 0;
  transition: 0.5s;
  background-image: linear-gradient(
    120deg,
    rgba(77, 5, 232, 1),
    rgba(34, 167, 240, 1)
  );
}
.focus + span:before {
  top: -5px;
}
.focus + span:after {
  width: 100%;
}
.js-logbutton {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(
    120deg,
    rgba(77, 5, 232, 1),
    rgba(34, 167, 240, 1)
  );
  cursor: pointer;
}
.button-text {
  margin-top: 15px;
  margin-left: 100px;
  text-align: right;
  font-size: 13px;
}

/*dialog*/

/* Login error */
.loginError {
  height: 50px;
  width: 300px;
  position: absolute;
  top: 1px;
  left: 38%;
  border: 1px solid red;
  font-size: 13px;
  background-color: rgba(241, 169, 160, 0.1);
  border-radius: 10px;
  display: none;
  transition: 1s;
}

.loginError p {
  text-align: center;
  line-height: 50px;
}
.showLoginError {
  display: block;
  top: 50px;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("/images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
  color: red;
}

.regis-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#register-form{
    width: 600px;
    padding: 30px 50px;
    border: none;
    box-shadow: none;
    background: #f5f5f5;
    margin: 0 auto;
    border-radius: 10px;
}
#register-form table{
    border: none;
    box-shadow: none;
}
#register-form table tr{
    border: none;
    line-height: 40px;
}
#register-form table tr td{
    border: none;
}
#register-form table tr td:nth-child(1){
    width: 100px;
    color: #17a2b8;
    font-weight: 600;
    font-size: 18px;
}
#register-form table tr td:nth-child(2){
    width: 300px;
}
#register-form .register-rwd-table td input{
    color: #000;
    padding-left: 10px;
    border: 1px solid #17a2b8;
    width: 300px;
    height: 35px !important;
    background: none;
    border-radius: 5px;
}
#register-form .register-rwd-table td:nth-child(2) {
    position: relative;
    width: 200px;
}
.react-datepicker__input-container{
    position: absolute;
    top: 0;
    right: 45px;
}
#register-form .register-rwd-table td p{
    color: red;
    font-size: 16px;
}
/* .id-error{
    display: none;
    position: absolute;
    right: -3px;
    transition: 3s
}
.id-error.show {
    display: block;
    top: 75px;
    left: 600px;
} */