
#order > table{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
#order > table tr{
    width: 100%;
}
#order > table tr th{
    background-color: #3f51b3;
    text-align: center;
    padding: 10px;
    /* border-color: red; */
    color: yellow;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
}
#order > table tr th:nth-child(1){
    width: 15%;
    min-width: 70px;
    min-width: 100px;
}
#order > table tr th:nth-child(2){
    width: 15%;
    min-width: 70px;
}
#order > table tr th:nth-child(3){
    width: 7%;
    min-width: 80px;
    max-width: 100px;
}
#order > table tr th:nth-child(4){
    width: 13%;
    min-width: 80px;
}
#order > table tr th:nth-child(5){
    width: 20%;
    min-width: 150px;
}
#order > table tr th:nth-child(6){
    width: 10%;
    min-width: 100px;
}
#order > table tr th:nth-child(7){
    width: 10%;
    min-width: 100px;
}
#order > table tr th:nth-child(8){
    width: 10%;
    min-width: 120px;
    padding: 0;
    margin: 0;
}
#order > table tr td{
    background: #fff;
    padding: 0px 10px;
    word-wrap:break-word !important;
}
#order > table tr td img{
    background: #fff;
    padding: 1px 0px;
}
.label-status{
    background: orangered;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
}
.label-huy{
    background: red;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}